{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{> "site-nav"}}

<style>
    .inner{
        padding-top: 20px;
    }
 h2.heading{
     font-weight: normal;

 }
 h2.heading a{
font-weight: bold;
color:#9d2449;
 }
  h3 {
      font-weight: bold;
      margin: 2em 0;
  }
    
    
</style>
{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner container">
        <h2 class="heading"> <a href="/transparencia/">Transparencia</a> / Actividades</h2>
        <div class="actividades">
            <h3 class="bold">Últimas noticias</h3>
            {{#get "posts" filter="tags:noticias" order="published_at desc" limit=3}}
            {{#foreach posts}}
            {{> "post-list"}}
            {{/foreach}}
            {{/get}}
        </div>
        
        <div class="comunicados">
            <h3>Comunicados recientes</h3>
            {{#get "posts" filter="tags:comunicados" order="published_at desc" limit=3}}
            {{#foreach posts}}
            {{> "post-list"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>