{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{> "site-nav"}}

<style>
    .inner{
        padding-top: 20px;
    }
 
  
    
    
</style>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <h1 class="heading">Actividades</h1>
        <h2>Últimas noticias</h2>
        <div class="post-feed actividades">
            {{#get "posts" filter="tags:noticias" order="published_at desc" limit=3}}
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div>
        <h2>Comunicados</h2>
        <div class="post-feed comunicados">
            {{#get "posts" filter="tags:comunicados" order="published_at desc" limit=3}}
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>