{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{> "site-nav"}}

<style>
    .inner{
        position: relative;
    }
    h1.heading{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 5000000;
        font-size: 2rem;
        color: white;
        font-weight: bold;
    }
     .post-card-title{
        color: #fff;
    }
    
</style>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <h1 class="heading">Los 25 proyectos</h1>
        <div class="post-feed proyectos">
            {{#get "pages" filter="page:true+tags:proyectos" order="title asc"}}
            {{#foreach pages}}
            {{!-- The tag below includes the markup for each post - partials/proyecto.hbs --}}
            {{> "proyecto"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</main>
